<script>start("c:\\Users\\tonys\\Desktop\\rules\\");</script>
<script>onHasParentDirectory();</script>
<script>addRow("angular-expert.mdc","angular-expert.mdc",0,5480,"5.4 kB",1759991880,"10/9/25, 8:38:00 AM");</script>
<script>addRow("best-pratices-angular.mdc","best-pratices-angular.mdc",0,2108,"2.1 kB",1754737035,"8/9/25, 12:57:15 PM");</script>
